:root {
  --color-primary: #221bb2;
  --color-secondary: #0d23f0;
  --color-accent: #17368e;
  --color-background: #282831;
  --color-text: #fffcd0;

  --color-hover-primary: #181371;
  --color-hover-secondary: #4a58d9;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.5rem;
  --font-xl: 1.75rem;
  --font-xxl: 2rem;
}

.debug {
  border: 1px solid red;
}

.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-accent {
  color: var(--color-accent);
}

.text-center {
  text-align: center;
  line-height: 2;
}
.text-justify {
  text-align: justify;
}

/*    START UTILITIES    */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  min-height: 95vh;
}

.section-title {
  font-size: var(--font-xxl);
  margin-bottom: var(--spacing-md);
  width: 30%;
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
}

.button {
  display: flex;
  gap: var(--spacing-md);
}

.btn {
  padding: var(--spacing-sm) 1.75rem;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--color-text);
  cursor: pointer;
}

.btn-primary {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition: 0.3s;
}
.btn-primary:hover {
  background: var(--color-hover-primary);
  border: 1px solid var(--color-hover-primary);
}

.btn-secondary {
  background: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  transition: 0.3s;
}
.btn-secondary:hover {
  background: var(--color-hover-secondary);
  border: 1px solid var(--color-hover-secondary);
}

.span-primary {
  color: var(--color-secondary);
}

.span-transparent {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-text);
  color: transparent;
}

.link {
  color: var(--color-text);
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}
.link:hover {
  color: var(--color-hover-secondary);
}
/*    END UTILITIES    */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  background: var(--color-background);
  font-family: "Inter", "Poppins", sans-serif;
  color: var(--color-text);
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

/*    START NAVBAR    */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  color: var(--color-text);
  width: 100%;
}

header .header-title {
  font-size: var(--font-xxl);
}

header .navbar .nav-list {
  display: flex;
  list-style: none;
  gap: var(--spacing-lg);
}

header .navbar ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-size: var(--font-xl);
  cursor: pointer;
  transition: 0.3s;
}

header .navbar ul li a:hover {
  color: #c1bfa7;
}
/*    END NAVBAR    */

/*    START SECTION HOME    */
#home {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: var(--spacing-md);
  min-height: 95vh;
}

#home .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-lg);
  width: 60%;
}

#home .hero .hero-title {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}

#home .hero .hero-text {
  font-size: var(--font-lg);
  line-height: 2;
}

#home .home-image {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  width: 40%;
}

#home .home-image img {
  width: 400px;
}
/*    END SECTION HOME    */

/*    START SECTION ABOUT    */
#about {
}

#about .about-information {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#about .about-information .about-description {
  background: var(--color-accent);
  border-radius: var(--spacing-sm);
  box-shadow: 10px 10px var(--color-hover-primary);
  padding: var(--spacing-sm);
}

#about .about-information .about-card {
  display: flex;
  justify-content: space-around;
  gap: var(--spacing-md);
}

#about .about-information .about-card .card-item {
  background: var(--color-hover-primary);
  border-radius: var(--spacing-sm);
  box-shadow: 10px 10px black;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(--spacing-md);
  width: 40%;
  height: 40vh;
}

#about .about-information .about-card .card-item ul li {
  font-size: var(--font-md);
  line-height: 2;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
/*    END SECTION ABOUT    */

/*    START SECTION BLOG    */
#blog .blog-article {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-lg);
  justify-content: center;
  align-items: center;
}

#blog .blog-item {
  background: var(--color-accent);
  padding: var(--spacing-xs);
  border-radius: var(--spacing-sm);
  box-shadow: 10px 10px var(--color-hover-primary);
  display: flex;
  gap: var(--spacing-sm);
  width: 70%;
}

#blog .blog-item img {
  width: 100px;
  height: 100px;
}

#blog .blog-item .blog-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
/*    END SECTION HOME    */
